# Function

In [1]:
def print_msg():
  print('belajar dengan fungsi di python')
  print('ini adalah baris kedua')
  print('ini adalah baris ketiga')

print_msg()

belajar dengan fungsi di python
ini adalah baris kedua
ini adalah baris ketiga

In [2]:
print_msg()

belajar dengan fungsi di python
ini adalah baris kedua
ini adalah baris ketiga

## arguments

In [3]:
def print_msg(input_user):
  print('Input dari user adalah ', input_user)

var1 = 'halo python'
print_msg(var1)

Input dari user adalah  halo python

In [4]:
def print_msg2 (var1, var2, var3):
  print(var1)
  print(var2)
  print(var3)


print_msg2('nama', 'saya', 'adi')

nama
saya
adi

In [9]:
def jumlah(a, b):
  c = a + b
  print('hasil penjumlahan ', a, ' dengan ',b, ' adalah ', c)

jumlah(10,2)

hasil penjumlahan  10  dengan  2  adalah  12

In [21]:
def penjumlahan(a, b):
  a = int(a)
  b= int(b)
  c = a + b
  print('hasil penjumlahan ', c)


penjumlahan('10', '12')

hasil penjumlahan  22

## args

In [10]:
def print_mhs (*mhs):
  print('data ke 1 adalah ', mhs[0])

print_mhs('andi', 'dwi', 'joko', 'mike')

data ke 1 adalah  andi

In [11]:
def print_mhs2 (*mhs):
  for i in mhs:
    print(i)

print_mhs2('andi', 'dwi', 'joko', 'mike')

andi
dwi
joko
mike

In [12]:
def print_mhs3 (*mhs):
  for i in range(len(mhs)):
    print('data adalah ', mhs[i])

print_mhs3('andi', 'dwi', 'joko', 'mike')

data adalah  andi
data adalah  dwi
data adalah  joko
data adalah  mike

## keyword arguments

In [14]:
def data_mhs(nama, alamat, jurusan):
  print('nama ', nama)
  print('alamat ', alamat)
  print('jurusan ', jurusan)

data_mhs(alamat='Jakarta', jurusan='Ekonomi', nama='Andi')

nama  Andi
alamat  Jakarta
jurusan  Ekonomi

## kwargs

In [17]:
def data_mhs2(**data):
  print('nama adalah ', data['nama'])
  print('alamat ', data['alamat'])
  print('jurusan ', data['jurusan'])
  print('tahun masuk ', data['tahun_masuk'])


data_mhs2(nama='Jack', alamat='Surabaya', jurusan='Biologi', tahun_masuk=2019)

nama adalah  Jack
alamat  Surabaya
jurusan  Biologi
tahun masuk  2019

## default value

In [18]:
def jurusan_mhs(jurusan='Teknik Mesin'):
  print('jurusan mahasiswa adalah ', jurusan)


jurusan_mhs()

jurusan mahasiswa adalah  Teknik Mesin

In [19]:
jurusan_mhs(jurusan='Ekonomi')

jurusan mahasiswa adalah  Ekonomi

In [20]:
jurusan_mhs('Sastra Inggris')

jurusan mahasiswa adalah  Sastra Inggris

## mengirim list sebagai argument

In [22]:
def print_matkul(mk):
  for x in mk:
    print('MK adalah ', x)


mk_input = ['kalkulus', 'bhs inggris', 'database','programming']
print_matkul(mk_input)

MK adalah  kalkulus
MK adalah  bhs inggris
MK adalah  database
MK adalah  programming

## return / mengembalikan nilai

In [23]:
def get_addition(a, b):
  c = a + b
  return c

var1 = 10
var2 = 12
result = get_addition(var1, var2)
print('hasil penjumlahan adalah ', result)

hasil penjumlahan adalah  22

In [26]:
def get_calculation(a, b):
  c = a + b
  d = a - b
  hasil_e = a / b
  return c, d, hasil_e

var1 = 10
var2 = 12
plus, minus, bagi = get_calculation(var1, var2)
print('hasil penjumlahan adalah ', plus)
print('hasil pengurangan adalah ', minus)
print('hasil pembagian adalah ', bagi)

hasil penjumlahan adalah  22
hasil pengurangan adalah  -2
hasil pembagian adalah  0.8333333333333334

## lambda function

In [27]:
var1 = lambda a, b, c : a + b + c

print(var1(1, 3, 5))

9

In [28]:
status = lambda umur : 'remaja' if umur > 10 and umur < 20 else 'bukan remaja'

print(status(35))
print(status(15))

bukan remaja
remaja

## scope

In [32]:
def myMhs ():
  global namaMhs
  namaMhs = 'Jack'
  print(namaMhs)

In [33]:
myMhs()

Jack

In [35]:
# bisa memanggil namaMhs yang ada dalam fungsi myMhs, karena variable namaMhs sudah global
namaMhs

'Jack'

In [37]:
test = 'hello'

def check():
  # bisa memanggil variable yang di luar function, atau di body program kita
  print(test)

check()

hello

## modules (tidak wajib dikerjakan, karena agak susah)

### pastikan dulu file1.py diupload ke google drive masing2

In [39]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### silahkan di tuliskan path dari file1.py yg ada di google drive masing2

In [41]:
import sys
sys.path.append('/content/drive/MyDrive/DS 7/')
import file1

x = file1.addition(4,5)
print(x)

9

## import math

In [43]:
import math

a = math.pow(10, 2)
print(a)

b = math.sqrt(9)
print(b)

100.0
3.0

In [44]:
a = [1, 2, 3, 4]

z = math.fsum(a)
print(z)

10.0

# string formatting

In [45]:
harga = 1000
txt = 'harga produk A adalah {} rupiah'

print(txt.format(harga))

harga produk A adalah 1000 rupiah

In [46]:
nama = 'Andi'
alamat = 'jakarta'
umur = '23'

txt = 'nama {0} dengan alamat {1} dan umur {2}'
print(txt.format(nama, alamat, umur))

nama Andi dengan alamat jakarta dan umur 23

In [47]:
nama = 'Andi'
alamat = 'jakarta'
umur = '23'

txt = 'nama {2} dengan alamat {0} dan umur {1}'
print(txt.format(alamat, umur, nama))

nama Andi dengan alamat jakarta dan umur 23