# Pengenalan Pandas

### Pandas adalah library untuk analisa, transformasi, dan manipulasi data yang paling fleksibel dan banyak digunakan di Python
### Sangat membantu pekerjaan Data Scientist dan Data Engineer

Instalasi library pandas dapat dilakukan dengan perintah <b>pip install pandas --upgrade</b>

In [1]:
#Install Pandas
!pip install pandas --upgrade

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/27/3d/ff72f600fdc626b8bf36dd426d122c0b6ac9e46d84f859d1620fb6f4ac0f/pandas-1.3.2-cp37-cp37m-win_amd64.whl
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Collecting numpy>=1.17.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/3b/d7/3e9f4291aaac0ccd61cd0b3ccfb3a192f3f2d6be8c86a02d0b93811ff1ee/numpy-1.21.2-cp37-cp37m-win_amd64.whl
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: numpy, pandas
  Found existing installation: numpy 1.16.5
    Uninstalling numpy-1.16.5:
      Successfully uninstalled numpy-1.16.5
  Found existing installation: pandas 0.25.1
    Uninstalling pandas-0.25.1:
      Successfully uninstalled pandas-0.25.1
Successfully installed numpy-1.21.2 pandas-1.3.2

In [3]:
#import dulu pandas nya
import pandas as pd
import numpy as np

## 1. Membuat Pandas Dataframe dari berbagai tipe data

In [5]:
#mulai membuat dataframe dari array
arrs = np.array([['a','b','c'],[1,2,3],[4,5,6],[345,234,213]])
df = pd.DataFrame(arrs, columns=['0','1','2'])
df.head()

     0    1    2
0    a    b    c
1    1    2    3
2    4    5    6
3  345  234  213

In [6]:
#mulai membuat dataframe dari array
arrs = np.array([[1,'Anton','male'],[2,'Widi','female'],[3,'Yepta','female'],[4,'Juki','male']])
df = pd.DataFrame(arrs, columns=['kode','nama','jk'])
df.head()

  kode   nama      jk
0    1  Anton    male
1    2   Widi  female
2    3  Yepta  female
3    4   Juki    male

In [13]:
#mulai membuat dataframe dari array
arrs = np.array([[1,'Anton', np.nan],[2,'Widi','female'],[3,'Yepta','female'],[4,'Juki','male']])
df = pd.DataFrame(arrs, columns=['kode','nama','jk'])
df.head()

  kode   nama      jk
0    1  Anton     nan
1    2   Widi  female
2    3  Yepta  female
3    4   Juki    male

In [16]:
#Buat dataframe dari list
lst = [[1,'a'],[2,'b']]
df = pd.DataFrame(lst, columns=['angka','huruf'])
df.head()

   angka huruf
0      1     a
1      2     b

In [19]:
#BUat dari 2 list atau lebih
first = [1,2,3]
second = ['a','b','c']
third = [100,200,300]
df = pd.DataFrame(list(zip(first, second, third)), columns=['angka','huruf','ratusan'])
df.head()

   angka huruf  ratusan
0      1     a      100
1      2     b      200
2      3     c      300

In [21]:
#Buat dari tuple
tpl1 = (1,2,3)
tpl2 = ('a','b','c')
df = pd.DataFrame([tpl1,tpl2])
df.head()

   0  1  2
0  1  2  3
1  a  b  c

In [22]:
#Buat dari tuple
tpl1 = (1,2,3)
df = pd.DataFrame(tpl1)
df.head()

   0
0  1
1  2
2  3

In [27]:
#Buat dari Series
first = pd.Series([1,2,3,4])
df = pd.DataFrame(first, columns = ['first'])
df.head()

   first
0      1
1      2
2      3
3      4

In [29]:
#Buat dari Series lebih dari 2
first = pd.Series([1,2,3,4])
second = pd.Series(['a','b','c','d'])
df = pd.DataFrame([first, second], columns = ['first','second'])
df.head()

   first  second
0    NaN     NaN
1    NaN     NaN

In [30]:
#yang benar
#Buat dari Series lebih dari 2
first = pd.Series([1,2,3,4])
second = pd.Series(['a','b','c','d'])
df = pd.DataFrame(first, columns = ['first'])

df['second'] = second
df.head()

   first second
0      1      a
1      2      b
2      3      c
3      4      d

In [31]:
#Membuat dari dictionary
nama = ['joko','prapto','supritno']
usia = [56,51,52]
d1 = {'nama':nama, 'usia':usia}
df = pd.DataFrame(d1)
df.head()

       nama  usia
0      joko    56
1    prapto    51
2  supritno    52

In [35]:
#menambahkan kolom baru dari 2 buah tipe data berbeda
#Kecuali tipe data Dictionary, semua tipe data dapat diinisiasi langsung tanpa perlu diubah ke dalam Dataframe
#asalkan memiliki jumlah data yang sama

series = pd.Series([1,2,3,4])

dictionary = {'nama':['Heru','Suhadi','Badroe','Bernard']}

array = np.array([90,80,90,95])

df1 = pd.DataFrame(series,columns=['id'])
df1.head()

   id
0   1
1   2
2   3
3   4

In [36]:
df2 = pd.DataFrame(dictionary)
df1['nama'] = df2
df1.head()

   id     nama
0   1     Heru
1   2   Suhadi
2   3   Badroe
3   4  Bernard

In [37]:
df1['nilai'] = array
df1.head()

   id     nama  nilai
0   1     Heru     90
1   2   Suhadi     80
2   3   Badroe     90
3   4  Bernard     95

## 2. Pandas untuk membaca dan meyimpan File text

Pandas dapat membaca hampir semua jenis file text dan excel (csv, JSON, XML)<br>
Pandas dapat menyimpan data ke file text baik csv maupun excel

In [39]:
#membaca data excel
df1 = pd.read_excel('test_excel.xlsx')
df1.head()

   id        nama  nilai_akhir
0   1  Supriyotno           90
1   2        Dewi           98
2   3    Gumilang           78
3   4       Liana           89

In [43]:
#menyimpan data ke dalam excel dan csv
df1.to_excel('contoh1.xlsx', index = False)
df1.to_csv('contoh1.csv', index=False, sep=',')